<%- @page_title = "Required Actions" -%>
<%- @page_header = "Required Actions" -%>

<h3>Required Action Messages</h3>

<%- @messages.each do |message| -%>
<div class="message">
  <%=render :partial=>"/messages/message", :object => message, :locals => { :skip_close_button => true }%>

  <%- if message.is_reply? -%>
  <hr/>
  <%=render :partial=>"/messages/message", :object => message.reply_to_message, :locals => { :skip_close_button => true } %>
  <%- end -%>

  <%- if message.has_reply? -%>
  <hr/>
  <%=render :partial=>"/messages/message", :object => message.reply_message, :locals => { :skip_close_button => true } %>
  <%- end -%>

</div>
<%- end -%>
<%- if @messages.empty? -%>
No new messages
<%- end -%>
