<tr class="<%= cycle('odd', 'even') -%>">
  <td><%= workgroup.name -%></td>
  <td><%= workgroup.workgroup_subtype[:name] -%></td>
  <td><%= workgroup[:subdomain] -%></td>
  <td><%= workgroup[:fax_number] -%></td>

  </td>
</tr>
