


<p><h3>Workgroup-user association created:</h3></p>
<p>Workgroup = <%= @workgroup_user.workgroup_id%>, User = <%= @workgroup_user.user_id %></p>
<p><%= link_to "Another new workgroup-user", :action => 'new_workgroup_user' %></p>
<p><%= link_to "List all workgroup-users", :action => 'list_workgroup_users' %></p>
<p><%= link_to "Back to Admin Home Page", :action => 'index' %></p>
