<p><h3>Workgroup created:</h3></p>
<p>Name = <%= @wkgrp.name%>, Type = <%= @wkgrp.workgroup_subtype[:name]%></p>
<p><%= link_to "Another new workgroup", :action => 'new_workgroup' %></p>
<p><%= link_to "List all workgroups", :action => 'list_workgroups' %></p>
<p><%= link_to "Back to Admin Home Page", :action => 'index' %></p>

