<%- @page_title = "Select User" -%>
<h3> Select a user from whom you want to delete a tag.</h3>


<p><%= link_to "Back to Admin Home Page", :action => 'index' %></p>

<% form_for :user, :url => { :action => 'delete_user', :id => @user } do |f| -%>
  
  <p>Select a user: </p>
  <p><%= f.select(:id, @users) %> </p>

<p><%= submit_tag 'Delete user' %></p>

<% end %>  

