<h1>Subscriber#cancel</h1>
<p>Find me in app/views/subscriber/cancel.html.erb</p>
<%= "errors" %>

<%= debug(@usr2_temp) %>
<%= debug(@usr2) %>
<%= debug(@usr2_temp) %>
<%= @usr2_valid %>
<H3>OTHER</H3>
<%= debug(@registration) -%>
<%= debug(@usr) -%>
<%= debug(@ccard_error) -%>
<%= debug(@agree_error) -%>
<%= debug(@med_license_error) -%>
<%= debug(@npi_error) -%>
<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "index" %>
