<div id="ancillary_study_list">
<%= render :partial => 'studies/study_detail', :collection => @target_referral.referral_studies, :locals => { :editing_controls => true } %>
</div>
<div id="ancillary_study_new"></div>
