<h3>This referral is still pending acceptance</h3>

<div>If you wish, you may withdraw this referral prior to acceptance.</div>

<div><%=link_to "Withdraw referral", withdraw_referral_path(@target_referral)%></div>
